vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Feb 2026 14:44:42 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|SAF-ACER\\safli
vti_modifiedby:SR|SAF-ACER\\safli
vti_timecreated:TR|04 Feb 2026 14:44:42 -0000
vti_cacheddtm:TX|04 Feb 2026 14:44:42 -0000
vti_filesize:IR|36155
vti_cachedlinkinfo:VX|S|media/VVV00506.jpg S|media/RKO08677.jpg S|media/ES6.webp S|media/wodlatvia.jpg S|media/392.jpg S|media/392.jpg S|media/ES2.webp S|media/STUDIO\\\\\\ SPACE\\\\\\ SAO\\\\\\ PAULO.jpg S|media/ES5.webp
vti_cachedsvcrellinks:VX|FSUS|media/VVV00506.jpg FSUS|media/RKO08677.jpg FSUS|media/ES6.webp FSUS|media/wodlatvia.jpg FSUS|media/392.jpg FSUS|media/392.jpg FSUS|media/ES2.webp NSUS|file:///C:/Users/safli/Dropbox\\ (Personal)/space4dance.org/media/STUDIO\\\\\\ SPACE\\\\\\ SAO\\\\\\ PAULO.jpg FSUS|media/ES5.webp
vti_backlinkinfo:VX|myaccount/events/events_search2.asp myaccount/dancers/blank_allocations.asp myaccount/acts/acts_edit.asp myaccount/acts/acts_new.asp myaccount/acts/acts_new_copy(1).asp myaccount/acts/blank_act_edit.asp index.html myaccount/dancers/allocation_lists.asp myaccount/events/events_search.asp
